<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="/estilo/estilo.css">
    <script src='main.js'></script>
</head>
<body>
    <div class="pessoas">
        <% pessoas.forEach((pessoa) => { %>
           <div class="exibicao">
            <p><%= pessoa.nome %>
            <%= pessoa.sobrenome %>
            <%= pessoa.idade %>
            <a href="/pessoas/delete?id=<%=pessoa.id%>" id="delete"> Deletar</a></p>
           </div> 
        <% }) %>

        <a href="/pessoas/criar" id="link">Cadastrar/Voltar</a>
    </div>  
</body>
</html>